 
.todoheading{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todomain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .todocard {
    /* background-color: #c5c7d7; */
    background-color: #1a204a;
    border: 1px solid #ddd;
    padding: 46px;
    border-radius: 5px;
    width: 20rem  ;
    box-shadow: 0px 3px 5px 3px black;
  }
   .swal2-title,
   .my-custom-title-class{
    display: block;
    padding: 0;
   }
  .swal2-popup,
   .swal2-modal,
    .swal2-icon-success,
     .swal2-show{
      padding: 0;
      display: grid;
      width: 22rem;
      height: 15rem;
      

     }
     .swal2-shown,
      .swal2-height-auto{
        padding: 0;
      }
  
  .lists {
    margin-bottom: 20px;
  }
  
  .todolable {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .inputtodo,
  .textareatodo {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  h4{
    color: white;
  }
  .buttontodo {
    background-color: #011717;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .buttontodo:hover {
    background-color: #a9afbd;
  }
  
  .btntodo{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .getdataCard{
    
    display: flex;
   gap: 20px;
   flex-wrap: wrap;
   padding: 30px;
  }
  .flexCard{
    display: grid;
    grid-gap: 15px;
    width: 22rem;
    height: auto;
    box-shadow: 0px 0px 11px 2px black;
    /* background: #eaecef; */
    background: #29313d;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .valueCards{
    display: flex;
flex-wrap: wrap;
  }

  .buttonstodo{
    padding: 8px 30px;
    border-radius: 5px;
    background: #198754;
    color: white;
    border: none;
    cursor: pointer;
  }
  .btnflex{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    align-items: center;
  }
  .deletebtn{
    padding: 8px 30px;
    border-radius: 5px;
    background-color: rgb(185, 26, 26);
    color: white;
    border: none;
    cursor: pointer;
  }
  .modes{
    display: flex;
    justify-content: end;
  }
  .modedark,
  .modelight{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  span{
    color: white;
    display: flex;
    gap: 10px;

  }
  .popup{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px;
      background-color: rgb(225, 222, 222);
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 999;
  
  
  }
  @media screen and (min-width: 300px)and (max-width:500px) {
    .todomain{
      padding: 30px;
    }
    .todocard{
      padding: 10px;
    }
    .lists {
      margin-bottom: 0px;
  }
  .todoheading {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputtodo, .textareatodo {
 
  padding: 3px;
}

.swal2-popup, .swal2-modal, .swal2-icon-success, .swal2-show {
  padding: 0;
  display: grid;
  width: 14rem;
  height: 10rem;
  font-size: 10px;
}
.buttonstodo {
  padding: 4px 19px;
}
.deletebtn{
  padding: 4px 19px;
}
.flexCard {
  grid-gap: 8px;
  width: 18rem;
}
.getdataCard {
  display: flex;
 justify-content: center;
}
  }